.carousel-multi-item .controls-top {
	text-align: right;
	margin-bottom: 1.88rem;
	position: relative;
	top: 70px;
}
.carousel-multi-item .controls-top .btn-floating {
	background: #9933cc;
}
.caro2 {
	position: relative;
	bottom: 155px;
}
.caro1 {
	position: relative;
	bottom: 60px;
}
